In [1]:
import pandas as pd
import random
import numpy as np
import datetime
import matplotlib.pyplot as plt
import yfinance as yf
import pandas_ta as ta

In [2]:
# Define the Nifty 50 index symbol
nifty50_symbol = "^NSEI"  # Symbol for Nifty 50 on Yahoo Finance
# Define the date range for data download
start_date = "2013-01-21"  # Start date (YYYY-MM-DD)
end_date = "2025-02-15"    # End date (YYYY-MM-DD)

In [3]:
# Download the data
df = yf.download(nifty50_symbol, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [4]:
df.tail()

Price              Close          High           Low          Open  Volume
Ticker             ^NSEI         ^NSEI         ^NSEI         ^NSEI   ^NSEI
Date
2025-02-10  23381.599609  23568.599609  23316.300781  23543.800781  234200
2025-02-11  23071.800781  23390.050781  22986.650391  23383.550781  268000
2025-02-12  23045.250000  23144.699219  22798.349609  23050.800781  279700
2025-02-13  23031.400391  23235.500000  22992.199219  23055.750000  265700
2025-02-14  22929.250000  23133.699219  22774.849609  23096.449219  254500

In [5]:
# Convert index to datetime format if not already done
df.index = pd.to_datetime(df.index, format='%d-%m-%Y')
# Create 'date1' column as the same date from the index
df['date'] = df.index
# Extract weekday and month
df['weekday'] = df.index.dayofweek  # Monday=0, Sunday=6
df['month'] = df.index.month        # January=1, December=12

In [6]:
#df.index = pd.to_datetime(df.index)
df = df.reset_index(drop=True)
df.to_csv('nifty.csv', index=True)

Delete econd row in nifty.cv then upload it

In [7]:
df = pd.read_csv('nifty.csv', index_col=0, low_memory=False)

In [8]:
df.head()

,Close,High,Low,Open,Volume,date,weekday,month
0,6082.299805,6094.350098,6065.100098,6085.750000,130900,21-01-2013,0,1
1,6048.500000,6101.299805,6040.500000,6080.149902,129000,22-01-2013,1,1
2,6054.299805,6069.799805,6021.149902,6052.850098,137000,23-01-2013,2,1
3,6019.350098,6065.299805,6007.850098,6046.200195,185200,24-01-2013,3,1
4,6074.649902,6080.549805,6014.450195,6024.500000,147600,25-01-2013,4,1

In [9]:
#df.index = pd.to_datetime(df.index)
df = df.reset_index(drop=True)
df.to_csv('nifty.csv', index=True)